extends ../layout

block content
  doctype html
  html
    head
      link(rel="stylesheet", href="/stylesheets/items/event-items.css")
      script(src="/javascripts/delete-item.js")
    body
      .page-header
        h2 #{event.title} - Menedżer przedmiotów
        br
        a.btn-add-item(href=`/panel/events/${event.id}/items/create`) Dodaj przedmiot

      .item-list
        .items-grid
          each item in items
            .item-card
              if item.image
                img(src=`data:image/png;base64,${item.image.toString('base64')}` alt='Obrazek itemu')
              .item-info
                h4= item.name
                p
                  strong Średnia ocena: 
                  | #{item.average_rating} / 5.0
                p
                  strong
                    | Oceny (#{item.rating_count}), komentarze (#{item.comments_count})
                ul
                  each value, index in item.item_values
                    li
                      strong #{event.item_properties[index]}: 
                      | #{value || event.default_values[index] || 'Brak wartości'}

              .item-actions
                a.btn-reviews(href=`/panel/events/${event.id}/items/${item.id}/reviews`) Oceny
                a.btn-edit(href=`/panel/events/${event.id}/items/${item.id}/edit`) Edytuj
                a.btn-delete(href="#" data-event-id=`${event.id}` data-item-id=`${item.id}`) Usuń

        // Jeżeli nie ma przedmiotów
        if items.length === 0
          p Brak przedmiotów w tym wydarzeniu.
