extends ../layout

block content
  doctype html
  html
    head
      link(rel="stylesheet", href="/stylesheets/panel/event-detail.css")
    body
      .form-header
        h2 Szczegóły wydarzenia
      .event-container
        .event-header
          if event.image
            img.event-image(src=`data:image/jpeg;base64,${event.image}`, alt="Event Image")
          else
            div.no-image No image available
          ul.details-list
            li
              strong Tytuł:
              | #{event.title}
            li
              strong Data startu:
              | #{event.start_time}
            li
              strong Data zakończenia:
              | #{event.end_time}
            li
              strong Status:
              if event.status === 'Active'
                | Aktywny
              else if event.status === 'End'
                | Zakończony
              else if event.status === 'Waiting'
                | Oczekujący
              else
                | #{event.status}
            li
              strong Prywatny:
              | #{event.is_private ? 'Tak' : 'Nie'}
            li
              strong Kategorie:
              | #{event.categories.join(', ')}

        .event-body
          br
          h2 Właściwości i wartości domyślne przedmiotów:
          .properties-list
            ul
              each property, index in event.item_properties
                li.property-item
                  .property-block
                    strong Właściwość:
                    | #{property}
                  .value-block
                    strong Wartość domyślna: 
                    | #{event.default_values[index]}
        .qr-code
          img(src=qrCode alt="QR Code")

        .links
          a.btn-edit(href=`/panel/events/${event.id}/edit`) Edytuj wydarzenie
          a.btn-back(href="/panel/events") Powrót do wydarzeń
