extends ../layout

block content
  .page-header
    h1 Szczególy wydarzenia

  doctype html
  html
    head
      link(rel="stylesheet", href="/stylesheets/panel/event-detail/style.css")
    body
      .event-details
        if event.image
          img(src=`data:image/jpeg;base64,${event.image}`, alt="Event Image", width="300")
        else
          p No image available

        ul.details-list
          li
            strong Title:
            | #{event.title}
          li
            strong Start Time:
            | #{event.start_time}
          li
            strong End Time:
            | #{event.end_time}
          li
            strong Status:
            | #{event.status}
          li
            strong Private:
            | #{event.is_private ? 'Yes' : 'No'}
          li
            strong Categories:
            | #{event.categories.join(', ')}

        h2 Item Properties and Default Values
        .properties-list
          ul
            each property, index in event.item_properties
              li
                strong Property:
                | #{property}
                br
                strong Default Value:
                | #{event.default_values[index]}

        .links
          a.btn-back(href="/admin/allevents") Back to Events
          a.btn-items(href="/admin/allevents/${event.id}/items") View Items
          a.btn-details(href=`/admin/allevents/${event.id}/items`) Pokaz przedmioty

