extends ../layout

block content
  h1 Wszystkie wydarzenia

  //- Styl CSS
  link(rel="stylesheet", href="/stylesheets/panel/user-events/style.css")

  //- Tabela z nagłówkami kolumn
  table
    thead
      tr
        th Tytuł
        th Status
        th Start
        th Koniec
        th Akcje
    tbody
      each event in events
        tr
          td #{event.title}
          td #{event.status}
          td #{event.start_time}
          td #{event.end_time}
          td 
            a.btn-details(href=`/admin/allevents/${event.id}`) Szczegóły
             form(method="post", action=`/admin/allevents/${event.id}?_method=DELETE`)
              button(type="submit") Usuń
  //- Jeżeli nie ma wydarzeń
  if events.length === 0
    p Nie żadnych wydarzeń.
